<form #form="ngForm">
  <div *ngIf="options.length > 0" class="column-flex">
    <div class="type row-flex">
      <!-- <span class="flex">{{ titlify(type) }}</span> -->
    </div>
    <div *ngFor="let option of options; index as index">
      <label [class]="'row-flex lecture ' + type">
        <input
          ngModel
          [name]="title + type"
          class="vertical-middle"
          type="radio"
          (click)="optionsChanged.emit(form)"
          [value]="index"
        />
        <div class="column-flex">
          <div class="row-flex" *ngFor="let lecture of option">
            <div class="weekday-evenness vertical-middle">
              <span>{{
                lecture.time.weeks === "all"
                  ? ""
                  : lecture.time.weeks === "even"
                  ? "Lyg. "
                  : "Nelyg. "
              }}</span>
            </div>
            <span class="weekday">
              {{ toWeekday(lecture.weekday) }}
            </span>
            <span class="time">
              {{ lecture.time.from.string + "-" + lecture.time.to.string }}
            </span>
            <span class="location">
              {{ lecture.location }}
            </span>
          </div>
        </div>
      </label>
    </div>
  </div>
</form>
